.article-container{
}

.article-container a{
    z-index: 0;
}
/*
.article-container:hover{
    background: coral !important;
    z-index: 6;
}

*/

.article-container .icon-container {
    display:none;
    margin-top: auto;
    margin-left:45%;
    z-index: 6;
}
.tile-icon{
    background-color: grey !important;
    padding: 20px;
    border-radius: 50%;
    color: white;
}

.article-container:hover .icon-container{
    display:inline-block;
    z-index: 8;
}
