.left-tile{
    border-top-left-radius: 40px;
}
.right-tile{
    border-top-right-radius: 40px;
}
.homepage-block h3{
    margin-top: 15%;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    border-color: #3DBDDE !important;
}